﻿@import url('https://fonts.googleapis.com/css?family=Karla');
#corpo {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #00B275;
    border-top: 10px solid green;
    margin-bottom: 0px;
    margin-top: 0px;
}

.barraNavegacao {
    background-color: #B22200;    
}

.barraNavegacao a{
    color: white;
    height: 50px;
    margin-top: 10px;
}

.table {
    font-family: 'Karla', sans-serif;
    background-color: floralwhite;
    color: black;
}

.form-group
{
    font-size:20px;
    
}

hr {
    background-color: #ffb067;
}

.textoapresentacao {
    text-shadow: 1px 0 0 red, -1px 0 0 red, 0 1px 0 red, 0 -1px 0 red;
}
h3.textoapresentacao {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}
p.textoapresentacao {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}

#inserirreceita {
    font-family: 'Karla', sans-serif;
}

.detalhes-receita {
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.label-detalhes {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}

#titlereceita {
    text-align: left;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 10px gray;
}


/*   EDICAO TELA */

.titulosEdicao
{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: dimgrey;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cabecalhoEdicao{
    color:white;
    background-color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 60px;
    margin-bottom: 10px;
}

#btnEdicao{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:30px;
}

#addIngredienteParaEdicao {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}


#row-75-edicao{
    width: 75%;
}

#row-25-edicao{
    width: 25%;
    float:right;
}

#clear-edicao{
    clear: both;
}

#barraFooterEdicao {
    background-color: #B22200;
    color:white;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
}

#corpoGeral{
    height: 100%;
}