﻿@{
    ViewBag.Title = "Buscar Receitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<OQueTemPraHoje.Models.Receita>

<div class="container" id="corpo">


@using (Html.BeginForm("BuscaReceitaPorIngrediente", "Receitas", FormMethod.Post))
{
    <div class="form-group" id="ingredientes">
        <label for="busca_receita">Digite o ingrediente</label>
        <input type="text" id="ingValida" name="ingrediente" class="form-control" />
    </div>
    <div id="teste">

    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="btnAddIngrediente">Adicionar Ingrediente</button>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-dark" id="btnBusca" value="Pesquisar" />
    </div>
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Detalhes</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.Titulo</td>
            <td>@r.Descricao</td>
            <td>@r.Ingredientes</td>
            <td><a class="btn btn-danger" href="@Url.Action("Detalhes","BuscaReceita",new { id = r.ID})">Detalhes</a></td>
            <td><a class="btn btn-success" href="@Url.Action("Excluir","BuscaReceita",new { id = r.ID, actionName = "BuscaReceita"})">Excluir</a></td>
            <td><a class="btn btn-primary" href="@Url.Action("EditarReceita", "Editar", new { id = r.ID })">Editar</a></td>
        </tr>
        }
    </tbody>
</table>

    </div>
@Scripts.Render("~/Scripts/Receitas.js")