﻿
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OQueTemPraHoje.Models.Receita
<link rel="stylesheet" href="~/Content/ReceitaStyle.css">

<div class="container">
    <div id="cabecalhoEdicao">Aprenda como fazer a receita @Model.Titulo</div>

    <div class="detalhes-receita">
        <label class="titulosEdicao" id="ingredientes">Ingredientes</label>
        <p>@Model.Ingredientes</p>
    </div>
    <div class="detalhes-receita">
        <label class="titulosEdicao" id="descricao">Descrição (preparo):</label>
        <p>@Model.Descricao</p>
    </div>
</div>

