﻿@model OQueTemPraHoje.Models.Receita

@{
    /**/

    ViewBag.Title = "EditarReceita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div id="cabecalhoEdicao">EditarReceita</div>

    @using (Html.BeginForm("AtualizaValores", "Editar", FormMethod.Get))
    {
        <input type="text" style="display: none;" name="id" value="@Model.ID"/>
        <div class="form-control-static">
            <div class="form-group">
                <label for="oldTitulo" class="titulosEdicao">Título</label>
            </div>
            <div class="form-group">
                <input type="text" name="Titulo" class="form-control" id="oldTitulo" value="@Model.Titulo" />
            </div>
            <div class="form-group">
                <label for="oldDescricao" class="titulosEdicao">Descrição</label>
            </div>
            <div class="form-group">
                <textarea id="oldDescricao" name="Descricao" class="form-control">@Model.Descricao</textarea>
            </div>
            <div class="form-group">
                <label for="oldIngredientes" class="titulosEdicao">Ingredientes</label>
            </div>

            <div id="insercaoDeIngredientes">
            </div>

            <div id="row-75-edicao"></div>

            <div id="row-25-edicao">
                <div class="form-group">
                    <input type="button" class="btn btn-dark" id="addIngredienteParaEdicao" value="Adiciona Ingrediente" />
                </div>
            </div>

            <div id="clear-edicao"></div>

            <div id="row-75-edicao"></div>

            <div id="row-25-edicao">
                <div class="form-group">
                    <input class="btn btn-success" id="btnEdicao" type="submit" value="Atualizar" />
                </div>
            </div>

            <div id="clear-edicao"></div>

        </div>

            }

        </div>

@Scripts.Render("~/Scripts/Receitas.js")
<script>
    addCamposIngredientesEditor('@Model.Ingredientes');
</script>
