﻿@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}


<link rel="stylesheet" href="~/Content/ReceitaStyle.css" />

@model List<OQueTemPraHoje.Models.Receita>


    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 imgbanner" src="~/Imagens/img001.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h3 class="textoapresentacao">O que tem pra hoje?</h3>
                    <p class="textoapresentacao">Com o que tem pra hoje, é possível selecionar as receitas que você pode fazer informando os ingredientes que possui em casa.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 imgbanner" src="~/Imagens/img02.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h3 class="textoapresentacao">Clique acima em Buscar Receita e mate sua fome</h3>
                    <p class="textoapresentacao">Faça bom proveito</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <div class="container" id="corpo">
        <section id="inserirreceita">
            <div>
                @using (Html.BeginForm("InsereReceita", "Receitas", FormMethod.Get))
                {
                <div class="form-group">
                    <label for="titulo_receita">Título da Receita</label>
                    <input type="text" class="form-control" id="titulo_receita" name="titulo" />
                </div>
                <div class="form-group">
                    <label for="descricao_receita">Descrição da Receita</label>
                    <textarea id="descricao_receita" class="form-control" name="descricao"></textarea>
                    <!--<input type="text" class="form-control" id="descricao_receita" name="descricao" />-->
                </div>
                <div class="form-group">
                    <label for="ingrediente_receita">Ingredientes da Receita</label>
                    <input type="text" class="form-control" placeholder="Insira um ingrediente por linha" id="ingrediente_receita" name="ingredientes" />
                </div>
                <div id="insereDiv">
                </div>

                <div class="form-group">
                    <input type="button" class="btn btn-dark" id="addIngrediente" value="Adiciona Ingrediente" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Inserir Receita" />
                </div>
        }
            </div>

        </section>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ingredientes</th>
                    <th scope="col">Detalhes</th>
                    <th scope="col">Excluir</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                <tr>
                    <td>@r.Titulo</td>
                    <td>@r.Descricao</td>
                    <td>@r.Ingredientes</td>
                    <td><a class="btn btn-info" href="@Url.Action("Detalhes", "BuscaReceita", new { id = r.ID })">Detalhes</a></td>
                    <td><a class="btn btn-danger" id="DeleteReceita" href="@Url.Action("Excluir", "BuscaReceita", new { id = r.ID , actionName = "Receitas"})">Excluir  </a></td>
                    <td><a class="btn btn-primary" href="@Url.Action("EditarReceita", "Editar", new { id = r.ID })" >Editar</a></td>
                </tr>
                    }
            </tbody>
        </table>

        </div>
    @Scripts.Render("~/Scripts/Receitas.js")

